# Системные файлы macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Файлы IDE (Xcode)
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
xcuserdata/
DerivedData/

# Сборка CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Бинарные файлы и логи
*.out
*.exe
*.log
*.o
*.a
